# Firebase configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Power Automate webhook for exam invite emails
VITE_POWER_AUTOMATE_URL=

# GitHub API personal access token (optional for higher rate limits)
GITHUB_TOKEN=
VITE_GITHUB_TOKEN=
